
{# STYLE #}
<style>
{# header #}
header {
    height: 20vh;
    background: url('https://cdn.pixabay.com/photo/2020/04/15/14/45/microphone-5046876_960_720.jpg') no-repeat;
    background-size: 100% 100%;
}

{# navbar #}
nav{
    display: flex;
    align-items: center;
    background: khaki;
}

nav p{
    vertical-align: middle;
    text-align: center;
    font-family: arial;
    font-style: none;
    margin: 2% 10%;
}

nav img{
    width: 30px;
    height: 30px;
}

footer nav{
    display: flex;
    justify-content: center;
}

ul{
    display: flex;
    margin: 0px;
}

li{
    list-style-type: none;
    padding: 0.5% 5%;
    margin: 0ch 5ch;
}

a{
    text-decoration: none;
    color: black;
    font-size: 2ch;
}

{# card #}
.container{
    position: relative;
    margin: 2vw;
    border: solid 1px black;
    border-radius: 15px;
    width: 15vw;

}

.image img{
    width: 100%;
    height: 150px;
    margin: auto;
    border-radius: 15px;
}

.text{
    padding:20px 10px;
    text-align: center;
}

p{
    font-size: 1.4rem;
    font-style: italic;
}

h1{
    color: white;
    background: black;
    margin: 5ch 0px 2ch;
    text-align: center;
    font-size: 3rem;
}

h4{
    margin: 0;
    color: grey;
    font-style: oblique;
    font-weight: light;
}

{# general layout #}
.solution{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

{# footer #}
footer{
background: url("https://kriesi.at/themes/enfold-dj/wp-content/uploads/sites/74/2016/02/banner-dj-wide.jpg");
}

footer p{
    margin: 2% 0%;
    padding: 5%;
    color: khaki;
    text-align: center;
}

</style>

{# HERO #}
<header>
    {# <img src="" alt="hero"> #}
</header>

{# NAVBAR #}
<nav>
    <ul>
        <p><img src="https://cdn.pixabay.com/photo/2013/07/13/13/17/karaoke-160752_960_720.png" alt="logo"></p>
        <p><a href="#">Home</a></p>
        <p><a href="#">About</a></p>
    </ul>
</nav>


{# ---------------------------------------------------------------------------------------- #}
{# LOOP TEST: i you put an array strait in to your loop, the looping through teh array will happen. DO not forget the opening and closing {% %} blocks/tags around the loop #}

{# <ul>
    {% for song in [1, 2,3,4,5] %}
        <li>{{ song }}</li>
    {% endfor %}
</ul> #}

{# LOOP through objects within an array containing object variables #}
{# <ul>
    {% for song in songs %}
        <li>{{ song.title }}</li>
        <li>{{ song.image }}</li>
        <li>{{ song.artist }}</li>
    {% endfor %}
</ul> #}
{# end loop test #}
{# ---------------------------------------------------------------------------------------- #}


{# MAIN #}
<main>
    <h1>Solution with arrays</h1><br>
<section class="solution">
    <div class="container">
        {# img #}
        <div class="image">
        <img src="{{one[2]}}" alt="{{one[1]}}">
        </div>
        {# text-field #}
        <div class="text">
            <h4>{{one[1]}}</h4>
            <p>"{{one[0]}}"</p>
        </div>
    </div>

    <div class="container">
        {# img #}
        <div class="image">
        <img src="{{two[2]}}" alt="{{two[1]}}">
        </div>
        {# text-field #}
        <div class="text">
            <h4>{{two[1]}}</h4>
            <p>"{{two[0]}}"</p>
        </div>
    </div>

    <div class="container">
        {# img #}
        <div class="image">
        <img src="{{three[2]}}" alt="{{three[1]}}">
        </div>
        {# text-field #}
        <div class="text">
            <h4>{{three[1]}}</h4>
            <p>"{{three[0]}}"</p>
        </div>
    </div>

    <div class="container">
        {# img #}
        <div class="image">
        <img src="{{four[2]}}" alt="{{four[1]}}">
        </div>
        {# text-field #}
        <div class="text">
            <h4>{{four[1]}}</h4>
            <p>"{{four[0]}}"</p>
        </div>
    </div>

    <div class="container">
        {# img #}
        <div class="image">
        <img src="{{five[2]}}" alt="{{five[1]}}">
        </div>
        {# text-field #}
        <div class="text">
            <h4>{{five[1]}}</h4>
            <p>"{{five[0]}}"</p>
        </div>
    </div>
</section>

    <h1>Solution with objects</h1>
<section class="solution">
    <div class="container">
        {# img #}
        <div class="image">
        <img src="{{song1.image}}" alt="{{song1.artist}}">
        </div>
        {# text-field #}
        <div class="text">
            <h4>{{song1.artist}}</h4>
            <p>"{{song1.title}}"</p>
        </div>
    </div>
    <div class="container">
        {# img #}
        <div class="image">
        <img src="{{song2.image}}" alt="{{song2.artist}}">
        </div>
        {# text-field #}
        <div class="text">
            <h4>{{song2.artist}}</h4>
            <p>"{{song2.title}}"</p>
        </div>
    </div>
    <div class="container">
        {# img #}
        <div class="image">
        <img src="{{song3.image}}" alt="{{song3.artist}}">
        </div>
        {# text-field #}
        <div class="text">
            <h4>{{song3.artist}}</h4>
            <p>"{{song3.title}}"</p>
        </div>
    </div>
    <div class="container">
        {# img #}
        <div class="image">
        <img src="{{song4.image}}" alt="{{song4.artist}}">
        </div>
        {# text-field #}
        <div class="text">
            <h4>{{song4.artist}}</h4>
            <p>"{{song4.title}}"</p>
        </div>
    </div>
    <div class="container">
        {# img #}
        <div class="image">
        <img src="{{song5.image}}" alt="{{song5.artist}}">
        </div>
        {# text-field #}
        <div class="text">
            <h4>{{song5.artist}}</h4>
            <p>"{{song5.title}}"</p>
        </div>
    </div>
</section>

    <h1>Solution with array of objects</h1>
<section class="solution">
    {% for song in songs %}  
        <div class="container">
                {# img #}
                <div class="image">
                    <img src="{{song.image}}" alt="{{song.artist}}">
                </div>
                {# text-field #}
                <div class="text">
                    <h4>{{song.artist}}</h4>
                    <p>"{{song.title}}"</p>
                </div>
            </div>
        <div>
    {% endfor %}
</section>
</main>

{# FOOTER #}
<footer>
    <nav>
        <ul>
            <li>Home</li>
            <li>About</li>
        </ul>
    </nav>
    <br>
    <p>2021 &copy; Seb & Gena</p>
</footer>